 
  
    .switch {
        transform: rotate(0);
        
    }
    .player__album {
        border-radius: 100px 0 100px 0;
        box-shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
        8px 8px 20px #0001, 5px 5px 6px 0px #0001;
        transition: .9s ease all;
      } 
    body.dark .player__album {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                5px 5px 15px rgba(0, 0, 0, 0.5);
                transition: .9s ease all;
      } 
      .player__img {
         margin-top: -15px;
      }
    
     
  footer {
      justify-content:space-evenly;
        
  }
     